# Keywords

In [1]:

multiline=(10*20-30/2)
x = 1;y = 2;z = 3;
actors=['Bradd pit','Tom holland']
print(multiline,actors, x, y, z, sep = "\n")

185.0
['Bradd pit', 'Tom holland']
1
2
3

## Indent

In [3]:
for i in range(5):
    if i % 2 == 0:
        print(i)
    else:
        print(i-1)

0
0
2
2
4

## comment

In [ ]:
#this is comment
""" this is also comment"""

## variable

In [ ]:
string='hi'
num=number=2
bool_=True
float_num=4.9

In [5]:
def func():
    a=10
    b=12
    print(a+b)
    return
print(a)#will give error because scope of a is in the function

NameError: name 'a' is not defined

## Datatypes

In [8]:
a = 100
b = "String"
c = 5.5
d = 5 + 10j
print(type(a), type(b), type(c), type(d))

<class 'int'> <class 'str'> <class 'float'> <class 'complex'>

## list

In [12]:
list=['a','s','d','f']
print(list)
print("First two elements",list[:2])
list2=['w,','e']
print(list+list2) #concat lists

['a', 's', 'd', 'f']
First two elements ['a', 's']
['a', 's', 'd', 'f', 'w,', 'e']

## Tuple

In [13]:
tup = ("hi", "bye", 5)
print(type(tup))
print(tup)
print(tup[:1])
print(tup + tup)
print(tup*2)
tup[2] = "hello"#will give error as tup;e cant be modified after assigning

<class 'tuple'>
('hi', 'bye', 5)
('hi',)
('hi', 'bye', 5, 'hi', 'bye', 5)
('hi', 'bye', 5, 'hi', 'bye', 5)

TypeError: 'tuple' object does not support item assignment

## Dictionary

In [17]:
dict = {1: "Rohit",2: "Rahul", 5: "Rishab" }
print(dict)
print("Second name is ", dict[2])
print(dict.keys())
print(dict.values())

{1: 'Rohit', 2: 'Rahul', 5: 'Rishab'}
Second name is  Rahul
dict_keys([1, 2, 5])
dict_values(['Rohit', 'Rahul', 'Rishab'])

## Set

In [19]:

set = {'hi','bye',100}
print(set)
set2.add("hello")
print(set)

{'bye', 100, 'hi'}
{'hello', 'bye', 100, 'hi'}

## Type conversion

In [22]:

intnum = 10
intstr = "10"
print("Before-", intstr, type(intstr))
intstr = int(intstr)
print("After-", intstr, type(intstr))
print(intstr + intnum)

Before- 10 <class 'str'>
After- 10 <class 'int'>
20

## Operators

In [23]:
#Arithemtic
a=10
b=10
print("Addition =", a + b)
print("Subtraction =", a - b)
print("Multiplication =", a * b)
print("Division =", a / b)
print("Remainder =", a % b)#the opeartor is modulo
print("PowerOf =", a ** b)

Addition = 20
Subtraction = 0
Multiplication = 100
Division = 1.0
Remainder = 0
PowerOf = 10000000000

In [24]:
#Logical
a = True
b = False
print("a =", a, "n =",b)
print('not a is',not a)
print('a and b is',a and b)
print('a or b is',a or b)

a = True n = False
a and b is False
a or b is True
not a is False

In [25]:
#Identify
num1 = 0
num2 = 1
str1 = 'hi'
str2 = 'hi'
list1 = [1,2,3]
list2 = [1,2,3]

print(num1 is not num2)

print(str1 is str2)

print(list1 is list2)

True
True
False

## Loops

In [26]:
#if,elif,else
a=0
if(a<0):
    print('-ve')
elif(a>0):
    print(+ve)
else:
    print('zero')

zero

In [29]:
#for loop
for a in range(10):
    print(a/2)

0.0
0.5
1.0
1.5
2.0
2.5
3.0
3.5
4.0
4.5

In [34]:
#while loop
a=4
while(a>0):
    print(a)
    a=a-1

4
3
2
1